# ==============================
# Dependencies
# ==============================
node_modules/
assetflow-frontend/node_modules/
backend/node_modules/

# ==============================
# Environment variables
# ==============================
.env
